

/*-----Form-----*/
.form-new-pattern{
    margin-top: 40px;
}


.pattern-part2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 832px;


}

.form-accessories, .form-abbreviations, .form-measurments{
    width: 250px;
    height: 467px;
    padding: 30px 20px;
    background-color: var(--background-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accessories-fields, .abbreviations-fields, .measurments-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    width: 100%;

}

.field-row{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.form-accessories select{
    display: flex;
    flex-direction: column;
}

.checkbox label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.abbreviations-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abbreviations{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    gap: 5px;
}
