.account-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-card, .notifications {
    border-radius: 20px;
    padding: 30px;
    flex-basis: 338px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-comments {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 870px;
    border-radius: 20px;
}

.maps {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.overview, .maps {
    width: 794px;
    padding: 10px 0;
}

.post-overview, .user-card {
    background-color: var(--primary-color-20);
}

.notifications {
    background-color: var(--secondary-color-30);
}

